body:after {
  position: absolute;
  z-index: -1;
  content: url(./images/bgfull.jpg) url(./images/bgmini.jpg);
}
body {
  background-image: url("./images/bgfull.jpg");
  background-position: 50% 30%;
  background-repeat: no-repeat;
  background-size: cover;

  padding: 50px;
  height: 100vh;
}
.boxText {
  margin-top: 50px;
  margin-right: 50%;
}
.buttongoogleplay,
.buttonapplestore {
  width: 150px;
}
/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
  .boxText {
    margin-right: 40%;
  }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  body {
    background-image: url("./images/bgmini.jpg");
    background-position: 65%;
  }
  .boxText {
    margin-top: 40px;
    margin-right: 10%;
  }
  .boxText h5 {
    /* font-size: 90%; */
  }
  .boxText p {
    font-size: 90%;
  }
  .buttongoogleplay,
  .buttonapplestore {
    width: 120px;
  }
}
